<div class="page-banner">
    <div class="lang-currency-switcher-wrap">
        <div class="lang-currency-switcher dropdown-toggle"><span class="language"><img alt="English" src="/img/flags/EN.png"></span><span class="currency">$ USD</span></div>
        <div class="dropdown-menu">
          <div class="currency-select">
            <select class="form-control form-control-rounded form-control-sm">
              <option value="usd">$ USD</option>
              <option value="usd">€ EUR</option>
              <option value="usd">£ UKP</option>
              <option value="usd">¥ JPY</option>
            </select>
          </div><a class="dropdown-item" href="#"><img src="/img/flags/FR.png" alt="Français">Français</a><a class="dropdown-item" href="#"><img src="/img/flags/DE.png" alt="Deutsch">Deutsch</a><a class="dropdown-item" href="#"><img src="/img/flags/IT.png" alt="Italiano">Italiano</a>
        </div>
      </div>

      <div class="banner-content">
           <h1>Shop 10,000's of products at the lowest prices!</h1>
      </div>

      <div class="banner-sell-now">
           Sell on shoppn
      </div>

</div>
